.container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: -3px -8px 0 -8px;
    padding: 0 8px 5px 8px;
    border-bottom: 2px solid #818285;
}

.left {
    display: flex;
    align-items: center;
}

.left * {
    margin-right: 25px;
}

.logo {
    height: 65px;
    transition: height 0.5s ease;
    animation: roll-back 0.5s ease;
}

.logo:hover {
    cursor: pointer;
    height: 75px;
    animation: roll 0.5s ease;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes roll-back {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

a {
    transition: font-size 0.25s ease;
}

a:hover {
    font-size: 28px;
}
